:root{
    
    --default-color: #212529;


}
body {
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #223a2c);
}


.container{
    display: flex;
    align-items: center;
    padding: 5px;
}
ul{
    display: flex;
    list-style: none;
}